{% extends 'admin/base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
<div class="row justify-content-end">
  <form class="col-6 mb-3 mt-3 autocomplete" action="{{ path('admin_users') }}" method="GET">
    <div class="input-group" style="position: relative;">
      <input type="text" class="form-contro autocomplete_input" autocomplete="off" name="query" placeholder="... Search by email ..." value="{{ app.request.get('query') }}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Button</button>
      </div>
    </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id 
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'id', 'type' : 'ASC'}) }}
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'id', 'type' : 'DESC'}) }}
      </th>
      <th>Email
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'email', 'type' : 'ASC'}) }}  
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'email', 'type' : 'DESC'}) }}  
      </th>
      <th>Status
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'status', 'type' : 'ASC'}) }}
        {{ include('admin/user/_sort_link.html.twig', {'key' : 'status', 'type' : 'DESC'}) }}
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.status }}</td>
      <td>
      {% if constant('ROLE_ADMIN', user) in user.roles or user.status == constant('STATUS_NOT_VERIFIED', user) %}
        -
      {% elseif user.status == constant('STATUS_BLOCKED', user) %}
        {{ include('admin/user/_action_user_form.html.twig', {
          'action' : 'activate',
          'action_path' : 'admin_activate_user',
          'action_token' : 'activate_user',
        }) }}
      {% elseif user.status == constant('STATUS_ACTIVE', user)  %}
        {{ include('admin/user/_action_user_form.html.twig') }}
      {% endif %}
      </td>
    {% endfor %}
  </tbody>
</table>

{{ include('includes/_pagination.html.twig', {'pathName' : 'admin_users'}) }}
{% endblock %}
