<span>
    <a href="#" onclick="toggleRegard('{{ path('article_like', {'id' : article.id}) }}', {{ article.id}})">
        <ion-icon name="arrow-round-up"></ion-icon>
    </a>
    <span id="article{{ article.id }}_rating">{{ article.rating }}</span>
    <a href="#" onclick="toggleRegard('{{ path('article_dislike', {'id' : article.id}) }}', {{ article.id}})">
        <ion-icon name="arrow-round-down"></ion-icon>
    </a>
</span>