<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link href="{{ asset('css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	{% endblock %}
</head>
<body>
	<div class="container">
	{{ include('menu.html.twig') }}
	{{ include('includes/_flashes.html.twig') }}
	{% block body %}{% endblock %}
	</div>

	{% block javascripts %}
	<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

	<script type="text/javascript">

	const setTags = (e) => {
		id = e.parentNode.id;

		$.ajax({
			type: 'GET',
			url: `/article/${id}/tags`,
			datatype: 'json',
		}).done(response => {
			const data = response['results'];
			data.forEach(element => {
				let option = new Option(element.text, element.id, true, true);
				e.append(option);
				$('.tags').trigger();
			});
		})
	}

	const toggleRegard= (url, id) => {
		const elem = $(`#article${id}_rating`)
		$.ajax({
			type: 'PUT',
			url: url,
			datatype: 'json',
			async: true,
			success: response => {
				elem.text(response)
			}
		})
	}

	$('.tags').select2({
		placeholder: 'Tags',
		ajax: {
			url: '/tags',
			dataType: 'json'
		}
	});

	$('.article_tags').each(function() {
		setTags($(this)[0]);
	});

	</script>
	{% endblock %}

</body>
</html>
