{% extends 'admin/base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<article id="{{ article.id }}">
    <h4 class="mt-4">Author  {{ article.author.fullName }} ({{ article.author.email }})</h4>
    <input class="form-control mt-4 mb-4" type="text" value="{{ article.title }}" disabled>
    <select class="tags article_tags form-control" disabled multiple placeholder="tags">
    </select>
    <span class="form-control mt-4 text-muted">
        {{ article.content|raw }}
    </span>
    {{ form_start(form) }}
        {{ form_widget(form.status) }}
        <button class="btn btn-primary mt-3">Save</button>
    {{ form_end(form) }}
</article>
{% endblock %}