{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
<div class="row">
  <div class="col-8">
    {% for article in articles %}
      <div class="card mt-5">
        <h5 class="card-header">{{ article.title }}</h5>
        <div class="card-body">
          {{ include('includes/_article_tags.html.twig') }}
          <p class="card-text">{{ article.content|raw }}</p>
        </div>
        <div class="card-footer article_footer">
          <span>
            Author: <a href="#">{{ article.author.fullname }}</a>
          </span>
          {{ include('includes/_article_regard.html.twig') }}
          <span>Comments {{ article.comments|length }}</span>       
          <a class="btn btn-primary" href="{{ path('article_show', {'id' : article.id}) }}">Read more</a>       
        </div>
      </div>
    {% endfor %}
    {{ include('includes/_pagination.html.twig', {'pathName' : 'index'}) }}
  </div>

  <div class="col-4">

    <div class="card mt-5">
      <div class="card-header">PUBLICATIONS TOP-5</div>
      <div class="card-body">
        {% for item in topArticles %}
          <a href="{{ path('article_show', {'id' : item.id}) }}">
            </p>{{ loop.index }}. {{ item.title }} ({{ item.rating }})</p>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">AUTHORS TOP-5</div>
      <div class="card-body">
        {% for item in topUsers %}
          <p>{{ loop.index }}. {{ item.fullname }} ({{ item.rating }})</p>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
