{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
<h5><b>My email:</b> {{ user.email }}</h5>
<h5><b>My name:</b> {{ user.fullname }}</h5>
<h5><b>My rating:</b> {{ user.rating }}</h5>

<h5 class="mt-3">My publications:</h5>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Header</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td>{{ article.publishedAt|date("Y-m-d") }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.status }}</td>
      <td>
      {% if article.status == constant('STATUS_DRAFT', article) %}
        <a href="{{ path('user_article_edit', {id: article.id}) }}">Edit</a>
        <a href="{{ path('publish', {id: article.id}) }}">Publish</a>
      {% endif %}
      {% if (article.status == constant('STATUS_DECLINED', article) or article.status == constant('STATUS_PUBLISHED', article))  %}
        {{ include('user/article/_delete_form.html.twig') }}
      {% endif %}
      </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
