{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
<h5><b>My email:</b> {{ user.email }}</h5>
<h5><b>My name:</b> {{ user.fullname }}</h5>
<h5><b>My rating:</b> {{ user.rating }}</h5>

<a class="btn btn-primary" href="{{ path('user_article_new') }}">Create article</a>

<h5 class="mt-3">My publications:</h5>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Header</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr>
        <td>{{ article.publishedAt|date("Y-m-d") }}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.status }}</td>
        <td>
          {% if article.status == constant('STATUS_DRAFT', article) %}
            <a href="{{ path('user_article_edit', {id: article.id}) }}">Edit</a>
            <a href="{{ path('publish', {id: article.id}) }}">Publish</a>
          {% endif %}
          {% if (article.status == constant('STATUS_DECLINED', article) or article.status == constant('STATUS_PUBLISHED', article))  %}
            {{ include('user/article/_delete_form.html.twig') }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row justify-content-end mt-3">
  <nav class="col">
    <ul class="pagination justify-content-end">
      <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
        <a class="page-link" href="{{ path('user_article_index', {
          page: thisPage-1 < 1 ? 1 : thisPage-1,
        }) }}">«</a>
      </li>

      {% for i in 1..maxPages %}
        {% if i > 0 %}
          <li class="page-item {{ thisPage == i ? 'active' }}" >
            <a class="page-link" href="{{ path('user_article_index', {
              page: i,
            }) }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="page-item" {{ thisPage == maxPages ? 'class="disabled"' }}>
        <a class="page-link" href="{{ path('user_article_index', {
          page: thisPage+1 <= maxPages ? thisPage+1 : thisPage,
        }) }}">»</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
